body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;

	font-size: 20px;
	line-height: 1.15;
	overflow-x: hidden;

	&--no-scroll {
		overflow: hidden;
	}

	@include max-screen(475px) {
		font-size: 16px;
	}
}
